node_modules
*.log
/facade/public/service-worker.js
/facade/public/css/dashboard.css
/facade/public/css/facade.css
/facade/public/js/dashboard.js
/facade/public/js/facade.js
/public
package-lock.json
.env
