/*
/* Mixins
/*************************************************************/

@function rem($pixels, $context: $font-size-base) {
    @if (unitless($pixels)) {
        $pixels: $pixels * 1px;
    }

    @if (unitless($context)) {
        $context: $context * 1px;
    }

    @return $pixels / $context * 1rem;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin circle($size) {
    @include size($size, $size);
    border-radius: $size / 2;
}

@mixin placeholder {
    ::-webkit-input-placeholder {
        @content;
    }
    :-moz-placeholder {
        @content;
    }
    ::-moz-placeholder {
        @content;
    }
    :-ms-input-placeholder {
        @content;
    }
}

@mixin background-2x($path, $ext: "png", $x: 0, $y: 0, $repeat: no-repeat) {
    $at1x_path: "#{$path}.#{$ext}";
    $at2x_path: "#{$path}-2x.#{$ext}";

    background-image: url("#{$at1x_path}");
    background-size: cover;
    background-position: $x $y;
    background-repeat: $repeat;

    @media all and (-webkit-min-device-pixel-ratio: 1.5),
        all and (-o-min-device-pixel-ratio: 3/2),
        all and (min--moz-device-pixel-ratio: 1.5),
        all and (min-device-pixel-ratio: 1.5) {
        background-image: url("#{$at2x_path}");
    }
}

@mixin features-sprite($y: 0) {
    @include background-2x("/img/features", $y: $y);
}

@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

// inspired by https://medium.com/@dmitriy.borodiy/easy-color-theming-with-scss-bc38fd5734d1
// with some improvements

@mixin the($themes: $themes) {
    @each $theme, $map in $themes {
        .theme-#{$theme} & {
            $theme-map: () !global;
            @each $key, $submap in $map {
                $value: map-get(map-get($themes, $theme), "#{$key}");
                $theme-map: map-merge(
                    $theme-map,
                    (
                        $key: $value
                    )
                ) !global;
            }

            @content;
            $theme-map: null !global;
        }
    }
}

@function the($keys...) {
    @return map-deep-get($theme-map, $keys...);
}
