/*
/* Gallery page
/*************************************************************/

.gallery {
    main {
        .caption {
            text-align: center;
            opacity: 1 !important;
            background: rgba($color: #000000, $alpha: 0.35);

            h5 {
                font-size: 1.05rem;
                margin: 0;

                &:empty {
                    display: none;
                }
            }

            div {
                &:empty {
                    display: none;
                }
            }
        }
    }

    &.index main .caption {
        display: block;
        font-size: 1.5rem;
    }

    &.photoset {
        .container-fluid {
            max-width: 1800px;
        }
    }

    &.photo main {
        .container {
            text-align: center;
        }

        .photo-wrapper {
            position: relative;
            display: inline-block;

            .photo-nav {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;

                .prev,
                .next {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    
                    i {
                        color: #fff;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 3rem;
                        text-shadow: 0 0 5px rgba($color: #000, $alpha: 0.33);
                        opacity: 0;
                        transition: 0.5s ease opacity;
                    }

                    &:hover i,
                    &.focus i {
                        opacity: 0.7;
                    }
                }

                .prev {
                    left: 0;
                    right: 75%;

                    i {
                        left: 10px;
                    }
                }

                .next {
                    right: 0;
                    left: 25%;

                    i {
                        right: 10px;
                    }
                }
            }
        }
    }
}
