/*
/* Home page
/*************************************************************/
#pages {
    background-color: #e9f2ff;
    padding-top: 70px;
    h4 {
        text-align: center;
    }
    .ul-center {
        display: flex;
        justify-content: left;
    }
    .row {
        max-width: 748px;
    }
    .flex {
        display: flex;
        justify-content: center;
    }
    h4 {
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 44px;
        line-height: 52px;

        text-align: left;
        color: #1e3648;
        padding-bottom: 60px;
    }
    li {
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 43px;

        color: #244258;
    }
    h2{
        padding-bottom: 60px;
    }
}
#dashboard {
    background-color: #e9f2ff;
}
.homepage {
    .benefits {
        margin: 1rem 0;
        padding: 125px 0;
        .benefit-icon {
            i {
                font-size: 4rem;
                color: $gray-600;
            }
        }
        .benefit-icon {
            display: flex;
            justify-content: center;
        }
        .benefit-title {
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 36px;
            opacity: 0.8;
            color: #244258;
            text-align: center;
            margin-top: 23px;
        }
        .benefit-details {
            color: $gray-600;
        }
    }

    .architecture {
        margin-bottom: 50px;
    }
    h2 {
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        line-height: 71px;

        color: #1e3648;
    }
    .text-center {
        .text-wrapper {
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 140%;
            padding: 66px 0px 43px 0px;
            color: #1e3648;
        }
    }

    .features {
        h3 {
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 60px;
            line-height: 71px;
            text-align: center;
            color: #1e3648;
            padding: 45px;
        }

        ul {
            list-style: none;
            margin: 0 auto;
            padding: 0;
            display: flex;
            flex-wrap: wrap;

            li {
                padding: 15px;

                &:hover {
                    box-shadow: 0 0 3px rgba(30, 160, 240, 0.7);
                }
            }
        }

        .pad {
            padding-bottom: 55px;
        }
        .feature {
            display: block;
            height: 50px;
            width: 250px;
            text-indent: -9999px;
        }

        .feature-node {
            @include features-sprite(0);
        }

        .feature-express {
            @include features-sprite(-50px);
        }

        .feature-mongodb {
            @include features-sprite(-100px);
        }

        .feature-handlebars {
            @include features-sprite(-150px);
        }

        .feature-socketio {
            @include features-sprite(-200px);
        }

        .feature-passport {
            @include features-sprite(-250px);
        }

        .feature-winston {
            @include features-sprite(-300px);
        }

        .feature-morgan {
            @include features-sprite(-350px);
        }

        .feature-sass-skeleton {
            @include features-sprite(-400px);
        }

        .feature-js-skeleton {
            @include features-sprite(-450px);
        }

        .feature-js-css-minification {
            @include features-sprite(-500px);
        }

        .feature-html5-boilerplate {
            @include features-sprite(-550px);
        }

        .feature-jquery {
            @include features-sprite(-600px);
        }

        .feature-bootstrap {
            @include features-sprite(-650px);
        }

        .feature-aos {
            @include features-sprite(-700px);
        }

        .feature-font-awesome {
            @include features-sprite(-750px);
        }

        .feature-vue {
            @include features-sprite(-800px);
        }

        .feature-vuex {
            @include features-sprite(-850px);
        }

        .feature-vuetify {
            @include features-sprite(-900px);
        }

        .feature-gulp {
            @include features-sprite(-950px);
        }

        .feature-babel {
            @include features-sprite(-1000px);
        }

        .feature-rollup {
            @include features-sprite(-1050px);
        }

        .feature-aws {
            @include features-sprite(-1100px);
        }

        .feature-slick {
            @include features-sprite(-1150px);
        }

        .feature-animate {
            @include features-sprite(-1200px);
        }

        .feature-webpack {
            @include features-sprite(-1250px);
        }
    }
}
