{{#contentFor "title"}}Title{{/contentFor}}
{{#contentFor "description"}}Lorem ipsum{{/contentFor}}
{{#contentFor "keywords"}}lorem ipsum{{/contentFor}}
{{#contentFor "cssClass"}}homepage{{/contentFor}}

<h1>Express.js Template</h1>

<div class="benefits row">
	<div class="benefit col-md-3">
		<div class="benefit-icon"><i class="fas fa-hand-holding-usd"></i></div>
		<p class="benefit-title">Free</p>
		<p class="benefit-details">Lorem ipsum dolor sit amet.</p>
	</div>
	<div class="benefit col-md-3">
		<div class="benefit-icon"><i class="fas fa-code"></i></div>
		<p class="benefit-title">Open Source</p>
		<p class="benefit-details">Iste excepturi, nemo assumenda suscipit.</p>
	</div>
	<div class="benefit col-md-3">
		<div class="benefit-icon"><i class="fas fa-wrench"></i></div>
		<p class="benefit-title">Modern</p>
		<p class="benefit-details">Porro, magnam sequi debitis autem!</p>
	</div>
	<div class="benefit col-md-3">
		<div class="benefit-icon"><i class="fab fa-searchengin"></i></div>
		<p class="benefit-title">SEO Optimized</p>
		<p class="benefit-details">Earum laboriosam minus, vel quis!</p>
	</div>
</div>

<h2>Features</h2>
<hr>

<h3>Structure</h3>
<ul>
	<li>Welcome Pages:
		<ul>
			<li>Homepage</li>
			<li>About</li>
			<li>Contacts</li>
		</ul>
	</li>
	<li>Dashboard</li>
</ul>

<h3>Backend</h3>
<ul>
	<li><a href="https://expressjs.com/" rel="nofollow">Express.js 4</a></li>
	<li><a href="https://www.npmjs.com/package/express-hbs" rel="nofollow">Handlebars Template Engine</a></li>
	<li><a href="https://www.mongodb.com/" rel="nofollow">MongoDB</a></li>
	<li><a href="https://socket.io/" rel="nofollow">Socket.io</a></li>
	<li><a href="http://www.passportjs.org/" rel="nofollow">Passport</a></li>
	<li><a href="https://www.npmjs.com/package/winston" rel="nofollow">Winston</a></li>
	<li><a href="https://www.npmjs.com/package/morgan" rel="nofollow">Morgan</a></li>
</ul>


<h3>Frontend</h3>
<ul>
	<li>SASS skeleton</li>
	<li>JS skeleton</li>
	<li>JS &amp; CSS minification</li>
</ul>

<h3>Welcome</h3>
<ul>
	<li><a href="https://html5boilerplate.com/" rel="nofollow">HTML5 Boilerplate</a></li>
	<li><a href="https://getbootstrap.com" rel="nofollow">Bootstrap 4</a></li>
	<li><a href="https://fontawesome.com/v4.7.0/" rel="nofollow">Font Awesome 4</a></li>
	<li><a href="https://jquery.com/" rel="nofollow">jQuery 3</a></li>
	<li><a href="https://github.com/michalsnik/aos">AOS</a></li>
</ul>

<h3>Dashboard</h3>
<ul>
	<li><a href="https://vuejs.org/" rel="nofollow">Vue.js</a></li>
	<li><a href="https://vuetifyjs.com/" rel="nofollow">Vuetify</a></li>
</ul>

<h3>Other Tools</h3>
<ul>
	<li><a href="https://gulpjs.com" rel="nofollow">Gulp</a></li>
	<li><a href="https://babeljs.io/" rel="nofollow">Babel</a></li>
	<li><a href="https://rollupjs.org" rel="nofollow">Rollup</a></li>
</ul>