/*
/* 5.4. Register
/*************************************************************/

form.register {
    max-width: 320px;
    margin: 20px auto;
        
    .form-group {
        position: relative
    }

    h4 {
        text-align: center;
        margin: 0 0 20px;
    }

    .alert {
        margin-bottom: 10px;
        font-size: 13px;
        padding: 5px 10px;
    }

        .alert p {
            margin: 0;
        }

    .input-group .input-group-text i {
        width: 15px;
    }

    .checkbox {
        margin-top: 0;
        margin-bottom: 0;
    }

    .note {
        color: #aaa;
        font-family: sans-serif;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        margin: 6px auto 15px;
    }

    .and-or {
        text-align: center;
        color: #666;
        font-style: italic;
        margin: -10px 0 5px;
    }
}
