/*
/* Header
/***************************************************/

#submenu h1 {
    text-align: center;
    margin: 0;
    padding: 10px 0 5px;
}

#submenu .nav-pills {
    text-align: center;
}

#submenu .nav-pills li {
    float: none;
    display: inline-block;
}

#submenu .nav-pills li a {
    outline: none;
}

/*
/* Footer
/***************************************************/

footer {

    .links {
        float: left;
        width: 80%;
        margin-bottom: 10px;
            
        a {
            padding: 10px 10px;
            color: #888;
            font-size: 14px;
        }

        a:hover {
            color: #444;   
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 10px 0;
            margin-left: -10px;    
        }

        ul li {
            display: inline-block;   
        }
    }

    .social {
        float: right;
        width: 20%;
        font-size: 25px;
        padding: 3px 0 5px;
        margin-bottom: 10px;
        text-align: right;
    }

    .social a {
        display: inline-block;
        width: 30px;
        text-align: center;
    }

    .copyright {
        float: left;
        width: 50%;
        color: #888;
    }

    .contacts {
        float: right;
        width: 50%;
        text-align: right;
    }

    a:hover {
        text-decoration: none;
    }

}