/*
/* Footer
/*************************************************************/

footer {
    background: #e9f2ff;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-top: 1px solid $white;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
    .nordictext {
        position: absolute;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: #244258;
        margin-top: 33px;
        margin-left: 20px;
    }
    .logo {
        padding: 1rem 0;

        a {
            opacity: 0.7;
            transition: opacity 250ms;

            &:hover {
                opacity: 1;
            }

            img {
                max-height: 40px;
            }
        }
    }

    .menu {
        hr {
            margin: 0.3rem 0;
        }

        .navbar {
            padding: 0;
            padding-top: 20px;

            .nav-link {
                // font-size: 1rem;
                // padding: 0.5rem 1rem;

                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 28px;
                
                color: #244258;
                &:hover {
                    background: rgba(255, 255, 255, 0.3);
                    border-radius: 5px;
                }
            }
        }
    }

    .social {
        padding: 0.3rem 0;

        a {
            font-size: 3.0rem;
            color: #6a6d94;
            margin: 0 0.3rem;

            i {
                transition: transform 250ms;
            }

            &:hover i {
                transform: scale(1.2);
            }
        }
    }

    .copyright {
        padding-bottom: 1.5rem;
        padding-top: 1.0rem;
        color: $gray-600;

        a {
            color: $gray-800;

            &:hover {
                color: $black;
            }
        }
    }

    a:hover {
        text-decoration: none;
    }
}
