/*
/* Footer
/*************************************************************/

footer {
    background: linear-gradient(to bottom, #cce7f7, #a2ddf8);

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    border-top: 1px solid $white;
    width: 100%;
    flex-shrink: 0;
    text-align: center;

    .logo {
        padding: 1rem 0;

        a {
            opacity: 0.7;
            transition: opacity 250ms;

            &:hover {
                opacity: 1;
            }

            img {
                max-height: 40px;
            }
        }
    }

    .menu {
        hr {
            margin: 0.3rem 0;
        }

        .navbar {
            padding: 0;

            .nav-link {
                font-size: 1rem;
                padding: 0.5rem 1rem;

                &:hover {
                    background: rgba(255, 255, 255, 0.3);
                    border-radius: 5px;
                }
            }
        }
    }

    .social {
        padding: 0.3rem 0;

        a {
            font-size: 1.5rem;
            color: $white;
            margin: 0 0.3rem;

            i {
                transition: transform 250ms;
            }

            &:hover i {
                transform: scale(1.2);
            }
        }
    }

    .copyright {
        padding-bottom: 0.5rem;
        color: $gray-600;

        a {
            color: $gray-800;

            &:hover {
                color: $black;
            }
        }
    }

    a:hover {
        text-decoration: none;
    }
}
