/*
/* Header
/*************************************************************/

header {
    .homepage & {
        min-height: 601px;
        position: relative;

        @include media-breakpoint-down(sm) {
            min-height: 401px;
        }
    }

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3), 0 1px 6px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid $white;

    nav {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
        background: #283952;
        padding: 0;

        // to make it on top of absolute-positioned .slideshow on small devices
        position: relative;
        z-index: 1000;


        .nav-link {
            padding: 1.1rem 1.2rem;
            font-size: 1.1rem;
            color: $gray-100;

            &:hover {
                background: rgba(255, 255, 255, 0.3);
                color: $white;
            }
        }
        li {
            display: flex;
            align-items: center;
        }
    }

    .container {
        padding-left: 0;
        padding-right: 15px;
        position: relative;

        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
    }

    .navbar {
        padding-top: 0;
        padding-bottom: 0;
        padding: 0;
        position: fixed;
        width: 100%;
        .nav-link {
            @include media-breakpoint-down(md) {
                padding: 1rem 2rem;
            }
        }
        .dropdown-menu {
            background: rgba(75, 107, 183, 0.95);
            border: none;
            border-radius: 0;
            margin: 0;
            padding-top: 0;
            left: auto;
            right: 0;

            @include media-breakpoint-down(sm) {
                background: transparent;
                padding: 0;
            }

            .dropdown-divider {
                border-top-color: rgba(255, 255, 255, 0.2);
                margin: 0;
                @include media-breakpoint-down(sm) {
                    display: none;
                }
            }

            .dropdown-item {
                color: #fff;
                padding: 0.5rem 1.5rem;
                @include media-breakpoint-down(sm) {
                    padding-left: 3rem;
                }

                &:hover {
                    background: rgba(255, 255, 255, 0.1);
                }
            }
        }
        .nav-item > .btn {
            margin-left: 4rem;
            line-height: 1.25;
            @include media-breakpoint-down(sm) {
                margin-left: 1.5rem;
                margin-bottom: 2rem;
            }
            @include media-breakpoint-down(md) {
                margin-left: 1.5rem;
                
            }
        }
        .nav-item.dropdown {
            position: relative;
            left: -3px;

            .nav-link {
                .fa-chevron-down {
                    position: relative;
                    top: -1px;
                    font-size: 0.75rem;
                    opacity: 0.7;
                    transition: ease 100ms transform;
                }
            }

            &.show .nav-link {
                .fa-chevron-down {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .navbar-brand {
        color: $gray-200;
        padding-left: 3.3rem;
        //
        margin-left: 15px;
        font-family: "Rubik", sans-serif;
        text-transform: uppercase;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        img {
            position: absolute;
            top: 5px;
            left: 15px;
            opacity: 0.9;
            max-height: 40px;
        }

        &:hover {
            color: $white;
        }

        &:hover img {
            opacity: 1;
        }
    }

    .navbar-toggler {
        padding: 1.1rem 1.5rem;
        font-size: 1.6rem;
        color: $gray-300;
        border: none;

        &:hover {
            color: $white;
        }
    }

    .slideshow {
        // position: absolute;
        top: 58px;
        bottom: 1px;
        left: 0;
        right: 0;
        text-align: center;

        .h1,
        .h2 {
            font-weight: bold;
            text-align: center;
            color: #ffffff;
            // background: rgba(0, 0, 0, 0.3);
            display: inline-block;
            width: auto;
            padding: 0 1rem;
        }

        .h1 {
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 72px;
            line-height: 85px;

            @include media-breakpoint-down(sm) {
                font-size: 42px;
                line-height: 35px;
            }

            @media (max-width: 449px) {
                font-size: 42px;
                line-height: 35px;
            }
        }

        .h2 {
            font-size: 4rem;
            line-height: 5rem;

            @include media-breakpoint-down(sm) {
                font-size: 2.5rem;
                line-height: 3.3rem;
            }

            @media (max-width: 449px) {
                font-size: 2rem;
                line-height: 3rem;
            }
        }

        .slide {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            height: 600px;
            padding-top: 253px;
            display: none;

            @include media-breakpoint-down(sm) {
                height: 400px;
                padding-top: 85px;
            }

            @media (max-width: 449px) {
                padding-top: 120px;
            }
        }

        .slide-1 {
            background-image: url(/img/header.png);
            display: block;
        }

        .slide-2 {
            background-image: url(/img/header-2.png);

            @media (max-width: 449px) {
                padding-top: 100px;
            }
        }

        .slide-3 {
            background-image: url(/img/header-3.png);
        }
    }

    .social {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -50px;
        text-align: center;

        @include media-breakpoint-down(sm) {
            bottom: -50px;
        }

        a {
            font-size: 3rem;
            margin: 0.7rem;
            color: $white;
            opacity: 0.75;
            transition: opacity 250ms;
            color: #ffffff;
            i {
                transition: transform 250ms;
            }

            &:hover {
                opacity: 1;

                i {
                    transform: scale(1.2);
                }
            }
        }
    }
}
