{{#contentFor "title"}}Gallery{{/contentFor}}
{{#contentFor "description"}}Lorem ipsum{{/contentFor}}
{{#contentFor "keywords"}}lorem ipsum{{/contentFor}}
{{#contentFor "cssClass"}}gallery index{{/contentFor}}

<div class="container">
    <h1>Gallery <small>/ Photo Sets</small></h1>
    
    <div class="photosets">
        {{#photoSets}}
        <a href="/gallery/{{code}}">
            {{#if cover}}
            <img src="{{cover}}" alt="{{title}}" title="{{title}}">
            {{else}}
            <img src="/img/photoset-cover.svg" alt="{{title}}" title="{{title}}">
            {{/if}}
            <div class="caption">{{title}}</div>
        </a>
        {{/photoSets}}
    </div>
</div>