<header>
    <nav class="navbar navbar-expand-sm">
        <div class="container">
            <a class="navbar-brand" href="/">
                <picture>
                    <source srcset="/img/logo-2x.png"
                        media="(max-width:600px),(min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)">
                    <source srcset="/img/logo.png">
                    <img src="/img/logo.png" alt="Express Template Logo" title="Home" />
                </picture>
                Express
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacts">Contacts</a>
                    </li>
                    {{#if isAuthenticated}}
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/signin">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
    <div class="slideshow">
        <div class="slide slide-1">
            <div data-animation="bounceInLeft" data-delay="0.5s">
                <div class="h1">Express.js</div>
            </div>
            <div data-animation="bounceInLeft" data-delay="1s">
                <div class="h1">Template</div>
            </div>
        </div>
        <div class="slide slide-2">
            <div>
                <div data-animation="flipInX" data-delay="0.5s">
                    <div class="h1">Facade</div>
                </div>
                <div data-animation="bounceInLeft" data-delay="1s">
                    <div class="h2">
                        SEO-Ready
                    </div>
                </div>
                <div class="h2" data-animation="bounceInRight" data-delay="1.5s">
                    <div>
                        Mobile-Friendly
                    </div>
                </div>
            </div>
        </div>
        <div class="slide slide-3">
            <div data-animation="jackInTheBox" data-delay="0.5s">
                <div class="h1">Dashboard</div>
                <div data-animation="flipInY" data-delay="1.5s">
                    <div class="h2">
                        Modern
                    </div>
                </div>
                <div class="h2" data-animation="zoomInUp" data-delay="2s">
                    <div>
                        Extensible
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> facade/_social-links}}
</header>