{{#contentFor "title"}}Express Template{{/contentFor}}
{{#contentFor "description"}}Lorem ipsum{{/contentFor}}
{{#contentFor "keywords"}}lorem ipsum{{/contentFor}}
{{#contentFor "cssClass"}}homepage{{/contentFor}}

<h1>Express.js Template</h1>

<div class="benefits row">
    <div class="benefit col-md-3" data-aos="fade-right">
        <div class="benefit-icon"><i class="fas fa-hand-holding-usd"></i></div>
        <p class="benefit-title">Free</p>
        <p class="benefit-details">Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="benefit col-md-3" data-aos="fade-up">
        <div class="benefit-icon"><i class="fas fa-code"></i></div>
        <p class="benefit-title">Open Source</p>
        <p class="benefit-details">Iste excepturi, nemo assumenda suscipit.</p>
    </div>
    <div class="benefit col-md-3" data-aos="fade-up">
        <div class="benefit-icon"><i class="fas fa-wrench"></i></div>
        <p class="benefit-title">Modern</p>
        <p class="benefit-details">Porro, magnam sequi debitis autem!</p>
    </div>
    <div class="benefit col-md-3" data-aos="fade-left">
        <div class="benefit-icon"><i class="fab fa-searchengin"></i></div>
        <p class="benefit-title">SEO-Ready</p>
        <p class="benefit-details">Earum laboriosam minus, vel quis!</p>
    </div>
</div>


<h2>Structure</h2>
<ul>
    <li>Facade Pages:
        <ul>
            <li>Homepage</li>
            <li>About</li>
            <li>Contacts</li>
            <li>Policies</li>
            <li>Sign In</li>
            <li>Register</li>
        </ul>
    </li>
    <li>Dashboard Pages
        <ul>
            <li>Homepage</li>
            <li>Profile</li>
            <li>Users</li>
        </ul>
    </li>
</ul>

<div class="features">

    <h2>Features</h2>

    <h3>Backend</h3>
    <ul>
        <li>
            <a href="https://nodejs.org" target="_blank" rel="nofollow" title="Node.js" class="feature feature-node">Node.js</a>
        </li>
        <li>
            <a href="https://www.mongodb.com" target="_blank" rel="nofollow" title="MongoDB" class="feature feature-mongodb">MongoDB</a>
        </li>
        <li>
            <a href="https://aws.amazon.com" target="_blank" rel="nofollow" title="AWS - Amazon Web Services" class="feature feature-aws">AWS - Amazon Web Services</a>
        </li>
        <li>
            <a href="https://expressjs.com" target="_blank" rel="nofollow" title="Express.js 4" class="feature feature-express">Express.js 4</a>
        </li>
        <li>
            <a href="https://www.npmjs.com/package/express-hbs" target="_blank" rel="nofollow" title="Handlebars Template Engine"
                class="feature feature-handlebars">Handlebars Template Engine</a>
        </li>
        <li>
            <a href="https://socket.io" target="_blank" rel="nofollow" title="Socket.io" class="feature feature-socketio">Socket.io</a>
        </li>
        <li>
            <a href="http://www.passportjs.org" target="_blank" rel="nofollow" title="Passport" class="feature feature-passport">Passport</a>
        </li>
        <li>
            <a href="https://www.npmjs.com/package/winston" target="_blank" rel="nofollow" title="Winston"
                class="feature feature-winston">Winston</a>
        </li>
        <li>
            <a href="https://www.npmjs.com/package/morgan" target="_blank" rel="nofollow" title="Morgan"
                class="feature feature-morgan">Morgan</a>
        </li>
    </ul>

    <h3>Frontend</h3>

    <ul>
        <li>
            <a href="https://sass-lang.com" target="_blank" rel="nofollow" title="SASS skeleton"
                class="feature feature-sass-skeleton">SASS skeleton</a>
        </li>
        <li>
            <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank" rel="nofollow" title="JS skeleton"
                class="feature feature-js-skeleton">JS skeleton</a>
        </li>
        <li>
            <a href="https://developers.google.com/speed/docs/insights/MinifyResources" rel="nofollow"
                title="JS &amp; CSS minification" class="feature feature-js-css-minification">JS &amp; CSS minification</a>
        </li>
    </ul>

    <h3>Facade</h3>
    <ul>
        <li>
            <a href="https://html5boilerplate.com" target="_blank" rel="nofollow" title="HTML5 Boilerplate"
                class="feature feature-html5-boilerplate">HTML5 Boilerplate</a>
        </li>
        <li>
            <a href="https://jquery.com" target="_blank" rel="nofollow" title="jQuery 3" class="feature feature-jquery">jQuery 3</a>
        </li>
        <li>
            <a href="https://getbootstrap.com" target="_blank" rel="nofollow" title="Bootstrap 4" class="feature feature-bootstrap">Bootstrap 4</a>
        </li>
        <li>
            <a href="https://michalsnik.github.io/aos" target="_blank" rel="nofollow" title="AOS - Animate on Scroll"
                class="feature feature-aos">AOS - Animate on Scroll</a>
        </li>
        <li>
            <a href="https://kenwheeler.github.io/slick" target="_blank" rel="nofollow" title="Slick.js"
                class="feature feature-slick">Slick.js</a>
        </li>
        <li>
            <a href="https://daneden.github.io/animate.css" target="_blank" rel="nofollow" title="Animate.css"
                class="feature feature-animate">Animate.css</a>
        </li>
        <li>
            <a href="https://fontawesome.com" target="_blank" rel="nofollow" title="Font Awesome 5"
                class="feature feature-font-awesome">Font Awesome 5</a>
        </li>
    </ul>

    <h3>Dashboard</h3>
    <ul>
        {{!<li>
            <a href="https://www.fastify.io" target="_blank" rel="nofollow" title="Fastify" class="feature feature-fastify">Fastify</a>
        </li>}}
        <li>
            <a href="https://vuejs.org" target="_blank" rel="nofollow" title="Vue.js" class="feature feature-vue">Vue.js</a>
        </li>
        <li>
            <a href="https://vuetifyjs.com" target="_blank" rel="nofollow" title="Vuetify" class="feature feature-vuetify">Vuetify</a>
        </li>
    </ul>

    <h3>Other Tools</h3>
    <ul>
        <li>
            <a href="https://gulpjs.com" target="_blank" rel="nofollow" title="Gulp" class="feature feature-gulp">Gulp</a>
        </li>
        <li>
            <a href="https://babeljs.io" target="_blank" rel="nofollow" title="Babel" class="feature feature-babel">Babel</a>
        </li>
        <li>
            <a href="https://rollupjs.org" target="_blank" rel="nofollow" title="Rollup" class="feature feature-rollup">Rollup</a>
        </li>
    </ul>
</div>