{{#contentFor "title"}}Gallery{{/contentFor}}
{{#contentFor "description"}}Lorem ipsum{{/contentFor}}
{{#contentFor "keywords"}}lorem ipsum{{/contentFor}}
{{#contentFor "cssClass"}}gallery{{/contentFor}}

<div class="container">
    <h1>Gallery <small>/ Photo Sets</small></h1>

    {{#photoSets}}
    <div class="photosets">
        <a href="/gallery/{{code}}">
            <img src="{{cover}}" alt="{{title}}" title="{{title}}">
            <div class="caption">{{title}}</div>
        </a>
    </div>
    {{/photoSets}}
</div>