{{#contentFor "title"}}Gallery PhotoSet - {{model.photoSet.title}}{{/contentFor}}
{{#contentFor "description"}}Lorem ipsum{{/contentFor}}
{{#contentFor "keywords"}}lorem ipsum{{/contentFor}}
{{#contentFor "cssClass"}}gallery{{/contentFor}}

<div class="container">
    <h1>Gallery <small>/ {{model.photoSet.title}}</small></h1>

    {{#model.photos}}
    <div class="photos">
        <a href="/gallery/{{@root.model.photoSet.code}}/{{_id}}">
            <img src="{{src}}" alt="{{alt}}" title="{{title}}">
        </a>
    </div>
    {{/model.photos}}

</div>