/*
/* General Styles
/*************************************************************/

* {
    outline: none medium !important;
}

html {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: #fff;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    //line-height: 20px;

    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: normal;
}

h1 {
    margin: 10px 0;
    font-size: 2rem;

    small {
        font-size: 1.25rem;
        font-weight: normal;
    }
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.no-touch .touch-only,
.touch .no-touch-only {
    display: none !important;
}

input[type=number] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none !important;
        /*margin: 0 !important;*/
    }
}

select {
    cursor: pointer;
}

.error-sign {
    display: none;
    position: absolute;
    font-size: 1.25rem;
    top: 10px;
    right: 8px;
    z-index: 100;
    color: #C43C36;
    opacity: 0.85;
}

.has-error .error-sign {
    display: inline;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

a:hover {
    text-decoration: none;
}