/*
/* Spinner
/*************************************************************/

.spinner {

    input {
        float: left;
        border-top-right-radius: 4px !important;
        border-bottom-right-radius: 4px !important;
        padding-right: 35px;
        text-align: right;
    }

    .btn {
        position: relative;
        width: 24px;
        height: 18px;
        padding: 0;
        line-height: 0;
        background: #F0F0F0;
        border: none;
        -webkit-appearance: none;

        &.disabled {
            cursor: not-allowed;
        }

        i {    
            position: relative;
            left: -1px;
        }

        &:hover {
            background: #e0e0e0;
        }

        &:active {
            background: #d0d0d0;
        }
    }

    .spinner-buttons {
        position: relative;
        left: -26px;
        top: 1px;
        float: left;
        width: 24px;
        height: 36px;
        margin-right: -25px;
        border-left: 1px solid #ced4da;
        line-height: 0;
        overflow: hidden;
    }

    .spinner-up {
        border-radius: 0 4px 0 0;
    }

        .spinner-up i {
            margin: 0;
            /*position: relative;
        top: -4px;*/
        }

    .spinner-down {
        border-radius: 0 0 4px 0;
    }

        .spinner-down i {
            margin: 0;
            /*position: relative;
            top: -5px;*/
        }

    .touch & input {
        padding-right: 12px;
    }

    .touch & .spinner-buttons {
        display: none;
    }
}